#name{
    font-style: oblique;
    padding:5px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
}
#email{
     font-style: oblique;
    padding:5px;
     margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
}
#phonenumber{
    font-style: oblique;
    padding:5px;
     margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
}
textarea{
    font-style: oblique;
    padding:5px;
     margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;

}
.button{
    background-color: lightblue;
}
.button:hover{
    background-color: blue;
    transition: 1s;
}
body{
    background-color:azure;
    
    
    
}
body{
    background-color: rgb(151, 216, 241) ;
    border-radius: 8px;
    display: grid;
    
    
    
    

}
.im{
   width: 250px;
   height: 300px;
}
p{
    font-size: 30px;
}
h3{
    font-weight: bold;
    font-size: 50px;
}




