#name{
    font-style: oblique;
    padding: 50px;

    
}
img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: solid 1px;
    
}
body{
    background-image:url(img7.webp) ;

}
h1{
    color: rgb(9, 153, 153);
    
}
P{
    border: solid 1PX;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}